* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: #070707;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-btn {
  display: none;
}


@media screen and (max-width:480px) {
  .menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-left: 90%;
    margin-top: 50px;
    margin-right: 30px;
  }
}

.menu-btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.3s;
}

.menu-btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
  display: none;
}

.menu-btn.active .bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px 28px 0px;
  border-bottom: 1px solid #828282;
}

@media screen and (max-width:480px) {
  .header-list {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background-color: white;
    transition: 0.5s;
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .header-list.active {
    transform: translateX(0);
}
}
.header-list li {
  color: #828282;
}



.header-list li:hover {
  color: #070707;
}



.banner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0 30px 0;

}

.banner {
  padding-bottom: 100px;
}

@media screen and (max-width:468px) {
  .banner-info{
   flex-direction: column;
   align-items: flex-start;
   gap: 30px;
  }
}

.banner-info h1 {
  max-width: 100px;
  font-weight: 700px;
}

.banner-info p {
  max-width: 180px;
}

.banner-image {
  width: 100%;
}

@media screen and (max-width:480px) {
  .banner-image{
height: 478px;
object-fit:cover ;
  }
}
.about {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.about-inner {
  display: flex;
  max-width: 485px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  background-color: #F6F6F6;
}


.title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 34px;
}

.about-info p {
  padding-bottom: 30px;
  text-align: center;

}
@media screen and (max-width:768px) {
  .about{
   padding:90px 0 ;
  }
}
.skills {
  padding: 140px 0;
}

.skills-inner {
  display: flex;
  text-align: center;
  flex-direction: column;

}

.skills-title {
  padding-bottom: 75px;
}

.skils-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (max-width:480px) {
  .skils-list{
   flex-direction: column;
  }
}

.skils-name {
  padding: 24px 0;
  margin: 0 auto;
  width: 80px;
  color: #828282;
  font-size: 14px;
  height: 66px;
}

@media screen and (max-width:768px) {
  .skills {
    padding: 90px 0;
  }
}

.portfolio {
  padding: 140px 0;
  background-color: #F6F6F6;

}

.portfolio-inner {
  text-align: center;
}

.portfolio-inner img {
  width: 100%;
}

.portfolio-item p {
  padding: 45px 0 100px 0;
}

.portfolio-item {
  list-style: none;
  overflow: hidden;
}




.portfolio-item img:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:768px) {
  .portfolio {
    padding: 90px 0;
  }
}

.contacts {
  padding: 140px 0;
}

.contacts-inner {
  text-align: center;
}

.contacts-list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.contacts-text {
  padding-top: 20px;
  padding-bottom: 30px;
}

.contacts-button {
  height: 48px;
  width: 191px;
  margin-top: 43px;
  margin-bottom: 56px;
  background-color: #070707;
  color: #F6F6F6;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  padding: 13px 30px;

}

@media screen and (max-width:768px) {
  .contacts-button {
   width: 100%;
   max-width: 315px;
  }
}

@media screen and (max-width:768px) {
  .contacts {
    padding: 90px 0;
  }
}

.diskribe {
  color: cornflowerblue;
  padding-top: 51px;
  padding-bottom: 100px;
  margin: 0 auto;
}